
    <!-- Team section Start -->
    <section id="team" class="section">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">Categories</h2>
          <hr class="lines">
          <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos! <br> Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
        <div class="row">
        <% @category.each do |category| %>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="single-team">
              <%= image_tag "March-12-Letter.jpg" %>
              <div class="team-details">
                <div class="team-inner">
                  <h4 class="team-title"><%= category.try(:name).capitalize %></h4>
                  <ul class="social-list">
                  	<% @products= category.products.limit(4) %>
                  	<%  @products.each do |products| %>
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
         <% end %>
        </div>
      </div>
    </section>
    <!-- Team section End -->


