<section id="login" class="section" data-stellar-background-ratio="-0.2" style="background-color: #343a40, background-position: 0px -378.75px;">      
      <div class="contact-form">
        <div class="container">
          <div class="row">        
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <h2>Sign up</h2>
              <div class="contact-block">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <div class="help-block with-errors"><%= devise_error_messages! %></div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group has-error">
                       <!--  <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required="" data-error="Please enter your name"> -->
                         <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email",class: "form-control" , placeholder: "Please enter your email" %>
                        <!-- <div class="help-block with-errors"><ul class="list-unstyled"><li>Please enter your name</li></ul></div> -->
                      </div>                                 
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <%= f.password_field :password, required: true,autocomplete: "off" ,class: "form-control" , placeholder: "Enter password" %>
                      </div> 
                    </div>
                    <div class="col-md-12">
                      <div class="form-group"> 
                        <%= f.password_field :password_confirmation, required: true,autocomplete: "off" ,class: "form-control" , placeholder: "Confirm password" %>
                      </div>
                      <div class="submit-button text-center">
                        <%= f.submit "Sign up",class: "btn btn-common disabled" %> 
                      </div>
                    </div>
                  </div>            
                <% end %>
		<%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>           
    </section>
