<section id="login" class="section" data-stellar-background-ratio="-0.2" style="background-color: #343a40, background-position: 0px -378.75px;">      
      <div class="contact-form">
        <div class="container">
          <div class="row">        
            <div class="col-lg-12 col-sm-12 col-xs-12">
              <h2>Change your password</h2>
              <div class="contact-block">
               <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                <div class="help-block with-errors"><%= devise_error_messages! %></div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
			<%= f.password_field :password, autofocus: true, autocomplete: "off" ,class: "form-control" ,placeholder: "Enter email id" %> 
                      </div>
		       <div class="form-group">
			<%= f.password_field :password_confirmation, autocomplete: "off" ,class: "form-control" ,placeholder: "Confirm email" %> 
                      </div>
                      <div class="submit-button text-center">
                        <%= f.submit "Change my password",class: "btn btn-common disabled" %> 
                      </div>
                    </div>
                  </div>            
                <% end %>
		<%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>           
    </section>

