<section id="login" class="section" data-stellar-background-ratio="-0.2" style="background-color: #343a40, background-position: 0px -378.75px;">      
      <div class="contact-form">
        <div class="container">
          <div class="row">        
            <div class="col-lg-12 col-sm-12 col-xs-12">
              <h2>Log in</h2>
              <div class="contact-block">
               <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="help-block with-errors"><%= devise_error_messages! %></div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group has-error">
                       <!--  <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required="" data-error="Please enter your name"> -->
                          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" , placeholder: "Please enter your email" %>
                        <!-- <div class="help-block with-errors"><ul class="list-unstyled"><li>Please enter your name</li></ul></div> -->
                      </div>                                 
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                       <%= f.password_field :password, autocomplete: "off" ,class: "form-control" , placeholder: "Enter password" %>
                      </div> 
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                       <input type="text" name="device_id" required class="form-control" placeholder="Enter devise id">
                      </div> 
                    </div>
                    <div class="col-md-12">
                      <div class="form-group"> 
                        <% if devise_mapping.rememberable? -%>
                          <div class="field">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me %>
                          </div>
                        <% end -%>
                      </div>
                      <div class="submit-button text-center">
                        <%= f.submit "Sign in",class: "btn btn-common disabled" %> 
                      </div>
                      <%= render "devise/shared/links" %>

                    </div>
                  </div>            
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>           
    </section>
